
<p-blockUI [blocked]="scanForQrCodeInProgress"></p-blockUI>
<div class="progressSpinnerDiv">
  <p-progressSpinner *ngIf="scanForQrCodeInProgress" class="progressSpinner"></p-progressSpinner>
</div>


<div class="contentContainer">
  <h1>QrCode and Text recognizer</h1>


  <div (mousemove)="mouseMoved($event)">
    <webcam *ngIf="webcamEnabled"  [videoOptions]="mediaTrackConstraints" [imageQuality]="1" [width]="400" [height]="400"
      [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
  </div>

  <div class="buttonsContainer">
    <p-button [disabled]="!webcamEnabled || scanForQrCodeInProgress" label="Capture" (click)="triggerSnapshot()"></p-button>
    <p-button label="On/Off" (click)="webcamEnabled = !webcamEnabled"></p-button>
  </div>

  <p>
    x: {{mousePos.x}} y: {{mousePos.y}}
  </p>

  <div *ngIf="webCamResult">
    <h2>QrCode Result:</h2>
    <div *ngFor="let cornerPoint of webCamResult?.cornerPoints">x: {{cornerPoint.x}} y: {{cornerPoint.y}}</div>
  </div>
  
  <p-panel header="Recognized Text" [toggleable]="true" *ngIf="recognizedText.length > 0">
    <div *ngFor="let line of recognizedText">
      <div *ngIf="line.confidence > 70">
        {{line.text}}
      </div>   
    </div>
  </p-panel>

  <!-- <img [src]="webCamImageAsUrl"> -->
</div>

<p-toast position="bottom-center"></p-toast>